<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card w-10">
        <span class="city"></span>
        <div class="sun"></div>
        <span class="temp">76&#176;</span>
        <span>
      <ul class="variations">
        <li>CLEAR</li>
        <li><span class="speed text-success ">9<span class="mph">mph</span></span></li>
      </ul>
    </span>
        <div class="forecast clear">
          <div class="day tue">TUE
            <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
          </div>
          <div class="day wed">WED
            <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
          </div>
          <div class="day thu">THU
            <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
          </div>
          <div class="day fri">FRI
            <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
          </div>
        </div>

        <div class="card w-10">
          <span class="city text-dark">ME</span>
          <div class="sun"></div>
          <span class="temp text-danger">1000&#176;</span>
          <span>
      <ul class="variations">
        <li>CLEAR</li>
        <li><span class="speed text-danger ">1000<span class="mph">mph</span></span></li>
      </ul>
    </span>
          <div class="forecast clear">
            <div class="day tue text-black-50">Me
              <br> <span class="cloudy"></span> <br> <span class="highTemp">100&#176;</span> <br> <span class="lowTemp">1000&#176;</span>
            </div>
            <div class="day wed">Me
              <br> <span class="sunny"></span> <br> <span class="highTemp">1000&#176;</span> <br> <span class="lowTemp">1000&#176;</span>
            </div>
            <div class="day thu">Me
              <br> <span class="sunny"></span> <br> <span class="highTemp">1000&#176;</span> <br> <span class="lowTemp">1000&#176;</span>
            </div>
            <div class="day fri">Me
              <br> <span class="cloudy"></span> <br> <span class="highTemp">1000&#176;</span> <br> <span class="lowTemp">1000&#176;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
